body{
         background-color: #EAF6F6;
}

hr{
         border-style: none;
         border-top-style: dotted;
         border-color: grey;
         border-width: 5px;
         width: 3%;
}

img{
         height: 150px;
         width: 150px;
}
h1{
         color: #6FBFBF;
}
h3{
         color: #6FBFBF;
}

</style>
